<div class="table">

  <div class="table-header">
    <h4>
      <span>Completed questionnaires</span>
    </h4>
  </div>


  <div style="margin: 15px">
    <ul class="list-group list-group-flush">
      <app-questionnaire-item [name]="'Q1'" [completedOn]="'20-03-1996'" class="list-item list-group-item"></app-questionnaire-item>
      <app-questionnaire-item [name]="'Q2'" [completedOn]="'20-03-1996'" class="list-item list-group-item"></app-questionnaire-item>
      <app-questionnaire-item [name]="'Q3'" [completedOn]="'20-03-1996'" class="list-item list-group-item"></app-questionnaire-item>
    </ul>
  </div>


</div>
