<div class="table">

  <div class="table-header">
    <h4>
      <span>Completed questionnaires</span>
    </h4>
  </div>


  <div style="margin: 15px">
    <ul class="list-group list-group-flush">
      <app-questionnaire-item [name]="'Default questionnaire'" [completedOn]="'20-03-2018'" class="list-item list-group-item"></app-questionnaire-item>
      <app-questionnaire-item [name]="'University questionnaire'" [completedOn]="'20-03-2017'" class="list-item list-group-item"></app-questionnaire-item>
      <app-questionnaire-item [name]="'Test questionnaire'" [completedOn]="'20-03-2018'" class="list-item list-group-item"></app-questionnaire-item>
    </ul>
  </div>


</div>
