<div class="table">

  <div class="table-header">
     <h4>
       <span>Questionnaire templates</span>
     </h4>
  </div>

  <div style="margin: 15px">
    <ul class="list-group list-group-flush">
      <app-questionnaire-template-item class="list-item list-group-item"></app-questionnaire-template-item>
      <app-questionnaire-template-item class="list-item list-group-item"></app-questionnaire-template-item>
      <app-questionnaire-template-item class="list-item list-group-item"></app-questionnaire-template-item>
    </ul>
  </div>

</div>

