<div class="table">

  <div class="table-header">
     <h4>
       <span>Questionnaire templates</span>
       <i class="material-icons" style="color: #3b547e">
         add_circle
       </i>
     </h4>
  </div>

  <div style="margin: 15px">
    <ul class="list-group list-group-flush">
      <app-questionnaire-template-item [title]="'Default questionnaire template'" class="list-item list-group-item"></app-questionnaire-template-item>
      <app-questionnaire-template-item [title]="'University questionnaire template'" class="list-item list-group-item"></app-questionnaire-template-item>
      <app-questionnaire-template-item [title]="'Test questionnaire template'" class="list-item list-group-item"></app-questionnaire-template-item>
    </ul>
  </div>

</div>

