<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md fixed-top navbar-style"></nav>

<div class="container-fluid" style="margin-top: 150px">

  <div class="row justify-content-center row-retreat-top">
    <app-template-table class="col-5"></app-template-table>
    <app-statistic-table class="col-5"></app-statistic-table>
  </div>

  <div class="row justify-content-center row-retreat-top">
      <app-questionnaire-table class="col-5"></app-questionnaire-table>
      <app-mail-table class="col-5"></app-mail-table>
  </div>


</div>


